{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa ehdotusta</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
   <form method="post" action="{{base_path}}/proposal/{{proposal.id}}/edit">
       
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" name="nimi" type="text" value="{{proposal.nimi}}">
    </div>
       
    <div class="form-group">
      <label>Juomalaji</label>
      <input class="form-control" name="juomalaji" type="text" value="{{proposal.juomalaji}}">
    </div>
       
    <div class="form-group">
      <label>Ainesosat</label>
      {% for ingredient in ingredients %}  
      <input class="form-control" name="ainesosa[]" type="text" value="{{ingredient.nimi}}">
      <input type="hidden" name="id[]" value="{{ingredient.id}}">
      {% endfor %}
    </div>
       
    <div class="form-group">
      <label>Ohje</label>
      <textarea class="form-control" name="ohje">{{proposal.ohje}}</textarea>
    </div>
       
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
       
  </form>
{% endblock %}