{% extends "base.html" %}
{% block content %}
  {% if message %}
    <div class="alert alert-success">
      <ul>
          <li>{{message}}</li>
      </ul>
    </div>
  {% endif %}   
    <h1>{{proposal.nimi}}</h1>
      <h3>Juomalaji:</h3>
      <p>{{proposal.juomalaji}}</p>

      <h3>Ainesosat:<h3>
      <ul>
  {% for ingredient in ingredients %}
       <li>{{ingredient.nimi}}</li>
  {% endfor %}
      </ul> 
      <h3>Ohje:</h3>
      <p>{{proposal.ohje}}<p>
{% if user_logged_in.admin == 1 or user_logged_in.id == proposal.tekija %}
<br>
<a href="{{base_path}}/proposal/{{proposal.id}}/edit" class="btn btn-info" role="button">Muokkaa</a>
{% endif %}

{% endblock %}