{% extends "base.html" %}
{% block content %}
  <h1>Rekisteröidy käyttäjäksi</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <form method="post" action="{{base_path}}/register">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="kayttajatunnus" value="{{kayttajatunnus}}" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="salasana" type="password">
    </div>

    <div class="form-group">
      <label>Sähköposti</label>
      <input class="form-control" name="sahkoposti" type="text">
    </div>      
      
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}
