{% extends "base.html" %}
{% block content %}
  <h1>Lisää drinkki</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Gin Tonic" type="text">
    </div>
    <div class="form-group">
      <label>Juomalaji</label>
      <input class="form-control" value="Apertiivi" type="text">
    </div>
    <div class="form-group">
      <label>Ainesosat</label>
      <input class="form-control" value="4 cl Gin, 12 cl Tonic -vesi, 0.25 kpl Lime" type="text">
    </div>
    <div class="form-group">
      <label>Ohje</label>
      <textarea class="form-control">Täytä lasi puolilleen jäitä, lisää gini ja pidennä tonic-vedellä. Purista joukkoon muutaman limeviipaleen mehut ja pudota viipaleet lasiin koristeeksi. Tarjoile, niin halutessasi, pillin kera.</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}