{% extends "base.html" %}
{% block content %}
  <h1>Gin Tonic</h1>

  <ul>
      <li><strong>Nimi:</strong>Gin Tonic</li>
      <li><strong>Juomalaji:</strong>Apertiivi</li>
  </ul>
        <h3>Ainesosat:<h3>
      <p>4 cl Gin, 12 cl Tonic -vesi, 0.25 kpl Lime<p>
      <h3>Ohje:</h3>
      <p>Täytä lasi puolilleen jäitä, lisää gini ja pidennä tonic-vedellä. Purista joukkoon muutaman limeviipaleen mehut ja pudota viipaleet lasiin koristeeksi. Tarjoile, niin halutessasi, pillin kera.<p>
{% endblock %}