{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa käyttäjätietojasi</h1>

  <form>
    <div class="form-group">
      <label>Käyttäjänimi</label>
      <input class="form-control" value="Drinkkifani" type="text">
    </div>
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" value="***********" type="text">
    </div>
    <div class="form-group">
      <label>Sähköposti</label>
      <input class="form-control" value="drinkkifani@luukku.com" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}